<app-header (contactPage)="contactPage($event)" (resumePage)="resumePage($event)" (homePage)="homePage($event)"></app-header>
<div class="main-container">
<main class="main" *ngIf="home">
  <div class="container" style="padding-bottom: 40px;padding-top: 40px;">
    <div class="profile">
      <!-- <img src="assets/photo.jpg" alt="Profile Photo" class="profile-photo"> -->
      <img src="../assets/sw.jpeg.jpg" alt="Profile Photo" class="profile-photo">
    </div>
    <div class="description">
      <h1>Welcome!</h1>
      <p>
        Software development is a journey. Every bug fixed is a lesson learned.
      </p>
    </div>
    <div class="container circles" style="margin: 15px;">
      <div class="circle-container">
        <div class="circle red" (click)="resumePage($event)">Resume</div>
        <div class="circle green" (click)="homePage($event)">Projects</div>
        <div class="circle blue" (click)="contactPage($event)">Contact</div>
      </div>
    </div>
  </div>
  
</main>
<app-contact *ngIf="contact"></app-contact>
<app-resume *ngIf="resume"></app-resume>
<app-footer class=""></app-footer>
</div>

